<div class="header-container">
  <div class="header clearfix">
    <div class="float-left padding-top-3">
      <a mat-button
        class="header-button"
        [routerLink]="pageHelper.lookupUrl('admin')"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }">
        corg.us
      </a>
    </div>

    <div class="float-right">
      <a mat-button
        class="header-button"
        [routerLink]="pageHelper.lookupUrl('projects')"
        routerLinkActive="is-active">
        projects
      </a>

      <a mat-button
        class="header-button"
        [routerLink]="pageHelper.lookupUrl('overview')"
        routerLinkActive="is-active">
        components
      </a>

      <a mat-button
        class="header-button"
        [routerLink]="pageHelper.lookupUrl('logout')"
        routerLinkActive="is-active">
        logout
      </a>
    </div>
  </div>
</div>
