
@import '../book_resources.scss';

$fontSizeDefault: 13px;
$fontSizeSelected: 15px;


$creditsDuration: 40s; // 60s;
$creditsMarginTop: 400px;
$creditsScrollTop: 2000px;

$deg_share_width: 360px;
$deg_share_height: 40px;
$deg_share_transition: all ease 500ms;
$deg_share_background_default: #fafafa;
$deg_share_background_hover: white;
$deg_share_border_radius: 5px;
$deg_share_control_padding_right: 10px;
$deg_share_control_padding_left: 30px;
$deg_share_control_icon_width: 14px;
$deg_share_control_text_width: 55px;
$deg_share_blue: #0078FA; // rgb(0 120 250);


@font-face {
  font-family: 'Rabiohead';
  src: url("/assets/fonts/Rabiohead/rabiohead.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/Rabiohead/rabiohead.ttf") format('truetype')
}

@font-face {
  font-family: 'Canterbury';
  src: url("/assets/fonts/Canterbury/Canterbury.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/Canterbury/Canterbury.ttf") format('truetype')
}

:host {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-width: 933px;
  flex-direction: column;

  font-family: serif; // 'EB_Garamond', serif;
}

p {
  font-family: serif; // 'EB_Garamond', serif;
  font-size: 14px;
}


// .deg-book-scale-container {
//   transition: 500ms all ease;
// }

.deg-book-transform-container {
  transform-origin: top left;
}

.deg-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  flex: none;
  justify-content: space-between;
  align-items: center;
  // max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 30px;
}

.deg-header-left {
  a {
    cursor: pointer;
  }

  img {
    height: 40px;
  }
}

.deg-header-right {
  // padding: 30px 0;
  // flex-grow: 1;
  // position: relative;
  // text-align: right;

  position: fixed;
  right: 25px;
  top: 20px;

  audio {
    right: 0;
    width: 100px;
    background: transparent;

  }
}

.deg-book-container {
  width: 933px;
  flex: 1;
  margin-top: 80px;
  display: flex;
  align-items: center;
}

// .deg-book-container-inner {
//   width: 933px;
//   flex: 1;
// }



.hidden {
  opacity: 0;
}



.book-carousel {
  box-sizing: border-box;
  position: relative;
  height: $book_height;
  transition: all ease $book_transition_duration;
  width: 2 * ($book_width + $book_cover_margin_side);

  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);

  &.is-front {
    margin-left: -25%;
    margin-right: 25%;
  }

  &.is-back {
    margin-left: 25%;
    margin-right: -25%;
  }

  // &:not(.is-flipping) {
  //   cursor: pointer;
  // }

  &.is-open .cover .page-white-bg {
    left: 0;
  }
}

.book-page-content {
  font-size: $fontSizeDefault;
}

// .is-first {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 50%;
// }

.is-hidden {
  opacity: 0;
}


.deg-calligraphy {
  font-size: 100px;
  font-family: 'Canterbury', serif;
  display: inline-block;
  float: left;
  line-height: 70px;
  padding-right: 10px;
}

.deg-note-container {
  // padding: 100px 70px;
  overflow: auto;
}

.deg-note {
  margin: 70px 70px 30px 70px;
  p {
    font-size: 20px;
    font-family: 'Rabiohead', serif;
  }
  transform: rotateZ(-5deg);
}

.deg-invalid-note {
  padding-top: 50px;
  padding-left: 50px;
  color: red;
  transform: rotateZ(-2deg);
  opacity: 1;
  transition: all ease 500ms;

  p {
    font-size: 26px;
    font-family: 'Rabiohead', serif;
  }

  &.is-hidden {
    opacity: 0;
  }
}

.deg-form-container {
  // display: block;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // overflow-y: auto;
  position: relative;

  .mat-form-field-underline .mat-form-field-underline {
    background-color: rgba(black, 0.2) !important;
  }
}

.deg-form {
  font-size: 20px;
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  position: relative;

  overflow-y: auto;

  // TODO: add back above ...

  // padding-right: 10px;

  // .deg-form-container-column {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  // }

  .deg-form-field {
    padding: 0 10px 10px 10px;
    flex: 1;
    width: 48%;
  }

  label,
  input,
  .mat-input-element {
    // line-height: 20px;
    font-family: 'Rabiohead', serif;
    padding-bottom: 10px;
  }

  // .mat-form-field .mat-form-field-wrapper {
  //   padding-bottom: 5px !important;
  // }
  // .mat-form-field-flex {
  //   padding-top: 5px !important;
  // }
  // .mat-form-field-infix {
  //   padding-top: 5px !important;
  // }
}

.deg-page-text-container {
  width: 100%;
  padding: 50px 30px 0 30px;
  // padding: 50px 30px 50px 50px;
  overflow-y: auto;
  // width-100pct padding-v-50 padding-left-50

  &.padding-top-70 { padding-top: 70px; }
  &.padding-top-100 { padding-top: 100px; }
  &.padding-top-140 { padding-top: 140px; }
}

.is-sm .deg-page-text-container {
  padding-top: 50px !important;
}

.deg-button-container {
  width: 100%;
  // display: block;
  // text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 30px;
}

.deg-button--random,
.deg-button--reset,
.deg-button--submit{
  position: absolute;
  display: inline-block;
  color: rgba(black, 0.8);
  // float: right;
  font-family: 'Rabiohead', serif;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;

  overflow: visible;
  white-space: nowrap;


  &:hover {
    text-decoration: underline
  }
}

.deg-button--random {
  // font-weight: bold;
  left: 5px;
}

.deg-button--reset {
  // color: rgba(black, 0.5);
  // font-size: 1vw;
  opacity: 0.4;
  // float: right;
  width: 150px;
  left: 130px;
  // right: 145px;
  // overflow: visible;

}

.deg-button--reset-icon {
  display: inline-block;
  padding-right: 5px;
  width: 17px;
  height: 20px;
}

.deg-button--submit {
  // float
  float: right;
  font-size: 30px;
  // right: 40px;
  left: 280px;
}

.deg-selected-word {
  font-size: $fontSizeSelected;
  line-height: $fontSizeDefault;
  font-weight: bold;
  font-style: italic;
}


::ng-deep .deg-form-container .mat-form-field {
  font-size: 18px;

  .mat-input-element,
  .mat-form-field-label-wrapper {
    line-height: 20px;
    font-family: 'Rabiohead', serif;
    font-size: 20px;
    padding-top: 10px;
  }
  .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }
  .mat-form-field-flex {
    padding-top: 0px !important;
  }
  .mat-form-field-infix {
    padding-top: 5px !important;
    // font-size: 18px;
  }
}

.deg-back-cover {

}

.deg-image-container {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  overflow: hidden;
  // padding: 2% 20px;

  img {
    display: block;
    position: relative;
    z-index: 1;
    max-height: 100%;
    height: auto;
    width: auto;

    // transition: left ease 4s;

    // animation-timing-function: ease-in-quad;
    // animation-fill-mode: forwards;
    // animation-duration: 4s;

    // // animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);// easeInOutCubic
    // animation-fill-mode: forwards;
    // animation-duration: 500ms;
    // animation-name: panright; // infinite alternate slidein;

    &.is-animated {
      animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);// easeInOutCubic
      animation-fill-mode: forwards;
      animation-duration: 6s;
      animation-name: panright; // infinite alternate slidein;
    }
  }

  @keyframes panright {
    0% {
      margin-left: 0%;
    }

    // 50% {
    //   margin-left: -20%;
    // }

    100% {
      margin-left: -80%;
    }
  }

  .img-border {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(black, 0.8);
  }
}



.credits-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  &.is-animated .credits-inner {
    .credits-fade-container {
      animation-name: animate_credits;
    }

    .credits-replay-container {
      animation-name: animate_replay;
    }
  }

  &:not(.is-animated) .credits-inner {
    .credits-fade-container {
      animation-name: animate_credits_reset;

    }

    .credits-replay-container {
      animation-name: animate_replay_reset;
    }
  }
}

@keyframes animate_credits_reset {
  // 0% { opacity: 1; }
  // 50% { opacity: 0; }
  // 100% { top: $creditsMarginTop; }
  100% { transform: translateY($creditsMarginTop); }
  // 100% { opacity: ; }
}

@keyframes animate_replay_reset {
  // 0% { opacity: 1; }
  // 50% { opacity: 0; }
  100% { opacty: 0; }
  // 100% { opacity: ; }
}

@keyframes animate_credits {
  // 0% { transform: translateY($creditsMarginTop);
  0% { opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  // 97% { top: -$creditsScrollTop;
  //        opacity: 0; }
  97% { transform: translateY(-$creditsScrollTop);
        opacity: 0; }
}

@keyframes animate_replay {
  0% { opacity: 0; }
  98% { transform: scale(1);
        opacity: 0; }
  99% { transform: scale(1.1);
         opacity: 1; }
  100% { transform: scale(1); }
}


.credits-container-fade {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;

  &.is-top {
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 95%);
  }

  &.is-bottom {
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 95%);
  }
}

@keyframes credits_resetting {
  0% { opacity: 1; }
  10% { opacity: 0;
        top: 0; }
  50% { opacity: 0;
        top: $creditsMarginTop; }
  100% { opacity: 1; }
}


.credits-inner {
  position: absolute;
  z-index: 1;
  // top: $creditsMarginTop;
  left: 13%;
  width: 80%;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  transition: all linear $creditsDuration; // cubic-bezier(0.37, 0, 0.63, 1); // cubic-bezier(0.12, 0, 0.39, 0);

  .credits-fade-container,
  .credits-replay-container {
    // top:
    top: $creditsMarginTop;
    position: absolute;
    -webkit-transform:translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    // transition: all linear $creditsDuration;
    animation-timing-function: linear;// easeInOutCubic
    animation-duration: $creditsDuration;

    &.credits-fade-container {
      opacity: 0;
      top: $creditsMarginTop;
    }

    &.credits-replay-container {
      opacity: 1;
      top: $creditsMarginTop;
    }
  }

  // .credits-fade-container {
  //   opacity: 0;
  //   position: relative;
  //   top: $creditsMarginTop;

  //   // transition:
  //   // animation: credits_opacity $creditsDuration;
  // }

  // .credits-replay-container {
  //   opacity: 1;
  //   top: $creditsMarginTop;

  //   // animation: credits_replay_opacity $creditsDuration;
  // }

  // &.is-resetting {
  //   transition: top linear 100ms, opacity ease 300ms ; // cubic-bezier(0.37, 0, 0.63, 1); // cubic-bezier(0.12, 0, 0.39, 0);
  //   animation: credits_resetting 900ms ease;
  // }
}

.credits-replay-container {

  &:hover .credits-replay-text {
    text-decoration: underline;
    text-align: center;
  }

  .credits-replay-icon-container {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 14px;
  }

  .credits-replay-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    padding-top: 2px;
    // height: 16px;
  }
}


.credits-list-container {
  margin-left: -20px;
  margin-top: -35px;
  font-family: 'EB_Garamond', serif !important;
  margin-bottom: 55px;
}

.credits-list-title {
  // font-weight: bold;
  font-family: 'Canterbury', serif !important;
  font-size: 15px;
  line-height: 130%;
  // text-align: center;
}

.credits-list-lines {
  padding: 0;
  column-count: 4;
  margin-top: 5px;

  &.single-column {
    column-count: 1;
  }
}

.is-sm .credits-list-lines {
  column-count: 3;
}

.credits-list-line {
  line-height: 110%;
  margin-bottom: 8px;
  font-size: 12px;
  white-space: pre-wrap;
}

.credits-flex {
  display: flex;
}

.credits-half {
  width: 50%;
  display: inline-block;
  border: 1px black;
}

.credits-link {
  text-decoration: none;
  font-weight: bold;
  color: rgba(50, 140, 50, 1);

  &:hover {
    text-decoration: underline;
  }
}

.deg-share-container {

}

.deg-share-content {

}

.deg-share-description {
  padding: 50px 0 20px 0;
  font-family: "Rabiohead", sans-serif;
  text-align: center;
  font-size: 20px;
}

// SHARING

.deg-share-link {
  position: relative;
  width: $deg_share_width;
  height: $deg_share_height;
  margin: 0 auto;
  cursor: pointer;
  overflow-wrap: break-word;
  transition: $deg_share_transition;

  // &:hover .deg-share-link-input,
  // .deg-share-link-input:focus-visible, {
  //   border: 1px solid rgba(0, 50, 10, 0.8);
  // }

  .deg-share-link-input:focus {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 10%),
                0 0 0 2px rgba($deg_share_blue, 60%);
    outline: none;
  }

  &:hover {
    .deg-share-link-input:not(:focus) {
      background: $deg_share_background_hover;
      box-shadow: 0 1px 2px rgba(black, 0.3);
    }

    .deg-share-control-container {
      background:linear-gradient(to right,
                  rgba($deg_share_background_hover, 0) 0%,
                  rgba($deg_share_background_hover, 1) 20%);

      width: $deg_share_control_icon_width +
             $deg_share_control_text_width +
             $deg_share_control_padding_left +
             $deg_share_control_padding_right;
      // opacity: 1;

      .deg-share-icon-container {
        opacity: 0.6;
        right: 5px;
      }

      .deg-share-control-text-container {
        opacity: 1;
        margin-right: 0;
      }

      overflow-wrap: break-word;
    }
  }
}


.deg-share-link-input,
.deg-share-link-input:disabled {
  padding: 10px 15px;
  opacity: 1;

  background: $deg_share_background_default; // rgba(black, 0.05);
  color: rgba(black, 0.6) !important;
  -webkit-text-fill-color: rgba(black, 0.6) !important;
  font-family: sans-serif;
  overflow: hidden;
  width: $deg_share_width;
  height: $deg_share_height;
  line-height: $deg_share_height;
  top: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  border: 1px solid rgba(black, 0.1);
  border-radius: $deg_share_border_radius;
  white-space: nowrap;
  z-index: 1;
  transition: $deg_share_transition;

  &::selection {
    background: #fff;
    color: $deg_share_blue;
  }

  // &:hover {
  //   background: white;
  //   box-shadow: 0 1px 2px rgba(black, 0.3);
  // }


  // &::after {
  //   content: '';
  //   position: absolute;
  //   display: inline-block;
  //   z-index: 2;
  //   right: 0;
  //   width: 50px;
  //   height: 100%;
  //   background: rgb(255,255,255);
  //   background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
  // }
}

.deg-share-control-container {
  position: absolute;
  top: 1px;
  right: 1px;
  height: $deg_share_height - 2px;
  width: 40px;
  border-radius: $deg_share_border_radius;
  padding: 0 $deg_share_control_padding_right 0 $deg_share_control_padding_left;
  background: linear-gradient(to right,
              rgba($deg_share_background_default, 0) 0%,
              rgba($deg_share_background_default, 1) 20%);
  // background:linear-gradient(to right,
  //             rgba($deg_share_background_default, 0),
  //             rgba($deg_share_background_default, 1));
  z-index: 3;
  text-align: right;
  transition: $deg_share_transition;
  overflow: hidden;
  white-space: nowrap;
}

.deg-share-icon-container {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  opacity: 0.4;

  height: 14px;
  width: $deg_share_control_icon_width;
  position: relative;
  z-index: 2;
  right: 13px;
  top: 7px;
  transition: $deg_share_transition;
  // color: rgba(black, 0.2);

  // svg {
  //   color: rgba(black, 0.2);
  // }
}

.deg-share-control-text-container {
  // position: absolute;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 50px;
  display: inline-block;
  vertical-align: top;
  padding-top: 6px;
  transition: $deg_share_transition;
  font-family: 'Rabiohead', sans-serif;
  font-size: 16px;
  text-align: left;

  left: 4px; // $deg_share_control_icon_width;
  width: $deg_share_control_text_width;
  margin-right: -$deg_share_control_text_width; // - $deg_share_control_padding_right;
  // top: 1px;
  // height: $deg_share_height - 2px;
  // width: 40px;
  // width: 0px;
  opacity: 0;
}

.is-sm .deg-share-control-container {
  display: none;
}

.deg-share-control-text {
  position: absolute;
  // left: $deg_share_control_icon_width;
  top: 5px;

  opacity: 1;

  &.is-hidden {
    opacity: 0;
  }
}

.deg-share-copied-container {
  // height: 60px;
  // padding: 60px;
  margin-top: 50px;
  text-align: center;
}

.deg-share-copied {
  font-size: 20px;
  font-family: 'Rabiohead', sans-serif;
  opacity: 1;
  transition: $deg_share_transition;

  &.is-hidden {
    opacity: 0;
  }
}





// @media (min-width: 450px) {
//   .is-first {
//     top: 0;
//     left: 0;
//   }
// }
