<!-- < ss-book-carousel
  [ssOptions]="bookOptions"
  [ssResetPages]="resetPages">

  <ss-book-page-content>
  </ss-book-page-content>


  <ss-book-page-content>
    <ng-container front>
      <div class="padding-30">
        <p>
          <span class="book-calligraphy">T</span>was the night before whatever
        </p>
      </div>
    </ng-container>
  </ss-book-page-content>

  <ss-book-page-content>
    <ng-container back>
      <div class="padding-30">

        <p>
          and all through the house
        </p>
      </div>
    </ng-container>
  </ss-book-page-content>

  <ss-book-page-content>
  </ss-book-page-content>

</ss-book-carousel> -->
<!--
<ss-book-deg
  [ssOptions]="bookOptions">
</ss-book-deg> -->

<ss-book-deg>
</ss-book-deg>
