// $fontSizeHtml: 16px;
$fontSizeHtml: 1vw;

$fontSizeMicro: 0.5625rem;
$fontSizeSmaller: 0.6875rem;
$fontSizeSmall: 0.78rem;

$fontSizeBase: 0.875rem;

$fontSizeBig: 1rem;
$fontSizeLarge: 1.125rem;
$fontSize22: 1.375rem;
$fontSizeLarger: 1.5rem;
$fontSize30: 1.875rem;
$fontSizeHuge: 2.25rem;
$fontSizeGiant: 2.625rem;


$fontSizeH5: $fontSizeLarge;
$fontSizeH4: 1.3rem; // 1.125rem;
$fontSizeH3: 1.5rem; // 1.25rem;
$fontSizeH2: 1.75rem; // 1.563rem;
$fontSizeH1: 2.125rem; // 1.953rem;

// 8px = 0.5rem
// 9px = 0.5625rem
// 10px = 0.625rem
// 11px = 0.6875rem
// 12px = 0.75rem
// 13px = 0.8125rem
// 14px = 0.875rem
// 15px = 0.9375rem
// 16px = 1rem (html)
// 18px = 1.125rem
// 20px = 1.25rem
// 22px = 1.375rem
// 24px = 1.5rem
// 26px = 1.625rem
// 28px = 1.75rem
// 30px = 1.875rem
// 32px = 2rem
// 34px = 2.125rem
// 36px = 2.25rem
// 38px = 2.375rem
// 40px = 2.5rem
// 42px = 2.625rem
