<!-- <div class="padding-30">
  <em class="color-red">[[ {{ constructor.name }} ]]</em>
</div>
 -->

<div class="book-page-content">

  <ng-content></ng-content>

  <!-- <ng-template #container></ng-template> -->

  <!-- <div class="headline">
    <div class="image" v-if="hasMultimedia" v-bind:style="imageStyle" >
    </div>
    <span v-html="this.pageContent.headline.main" ></span>
  </div>

  <div class="byline">
    {{this.pageContent.byline.original}}
  </div>

  <div class="snippet">
    <span class="text" v-html="this.pageContent.snippet" ></span><span><a :href="pageContent.web_url" >Read more...</a></span>
  </div> -->
</div>
