@import '../resources';

$dashboardWidgetListItemStatusWidth: 50px;
$dashboardSidebarMinWidth: 260px;
$dashboardSidebarWidthPct: 35%;

.dashboard-flex-container {
  // height: 100%;
  // padding: 0 0 30px 0;
  display: flex;
}

.dashboard-flex-main {
  flex-grow: 1;
  // padding: 0 1.5% 0 1%;
}

@include media(sm) {
  .dashboard-flex-main {
    padding: 0;
  }
}

.dashboard-flex-sidebar {
  position: relative;
  width: $dashboardSidebarWidthPct;
  flex-basis: $dashboardSidebarWidthPct;
  // min-width: $dashboardSidebarMinWidth;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 1% 0 1.5%;
}


.dashboard-widget-header {
  height: 45px;
  border: 1px solid $cBorderA;
  position: relative;
  padding: 10px $dashboardWidgetPaddingHMd 10px ($dashboardWidgetPaddingHMd - 2px);
  transition: $dashboardWidgetTransition;
  border-radius: $borderRadiusCard $borderRadiusCard 0 0;
  cursor: pointer;
  transition: $dashboardWidgetTransition;

  &:hover {
    .dashboard-widget-header-icon-button {
      margin: -2px 0 -15px 0;
      box-shadow: 1px 2px 0 0 $cBlack3;
    }

    .dashboard-widget-header-new-link-container {
      color: $cBlack4;
    }
  }
}

@include media(sm) {
  .dashboard-widget-header {
    padding: 10px ($dashboardWidgetPaddingHSm + 2px) 10px $dashboardWidgetPaddingHSm;
  }
}

.dashboard-widget-header-icon-button {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 -17px 0;
  height: 2 * $dashboardWidgetHeaderIconContainerRadius;
  width: 2 * $dashboardWidgetHeaderIconContainerRadius;
  border-radius: $dashboardWidgetHeaderIconContainerRadius;
  box-shadow: inset -1px -1px 1px 0 $cBlack6; // 1px 1px 0 0 $cBlack3;
  transition: $dashboardWidgetTransition;
}

.dashboard-widget-header-icon-container {
  color: white;
  font-size: $fontSizeLarge;
  text-shadow: 1px 1px 0 0 $cBlack4;
}

.dashboard-widget-header-title {
  display: inline-block;
  vertical-align: top;
  line-height: $dashboardWidgetHeaderLineHeight;
  padding-left: 10px;
}

.dashboard-widget-header-new-link-container {
  display: inline-block;
  vertical-align: top;
  font-size: $fontSizeBase;
  line-height: $dashboardWidgetHeaderLineHeight;
  float: right;
  color: $cBlack6;
  cursor: pointer;
  transition: $dashboardWidgetTransition;
  // &:hover { text-decoration: underline; }
}

.dashboard-list-item {
  display: flex;
  cursor: pointer;
  padding: 5px 18px;
  transition: $dashboardWidgetTransition;
  &:hover { background: $cBgHover; }
}

.dashboard-list-item-display {
  flex-grow: 1;
}

.dashboard-list-item-status {
  text-align: right;
  flex: none;
  width: $dashboardWidgetListItemStatusWidth;
}

.dashboard-list-more-container {
  padding: 5px 18px 20px 18px;
}

