// @import 'reset';
// @import 'resources';
// @import 'utilities/index';

// https://github.com/8Tesla8/angular-theme-scss/blob/main/src/styles.scss

/* You can add global styles to this file, and also import other style files */

@import "theme/light.scss";
@import "theme/dark.scss";

@function map-get-value($map, $key) {
    @if map-has-key($map, $key) {
        @return map-get($map, $key);
    } @else {
        @error "ERROR: Specified key #{$key} does not exist in the mapping #{ map-get($map,name) }";
    }
}

@mixin set-theme($map) {
    .layout{
        background-color: map-get-value($map, background-color);
    }
    .text{
        color: map-get-value($map, text-color);
    }
    .button{
        background-color: map-get-value($map, button-color);
        color: map-get-value($map, button-text-color);
    }
}

//set theme
.light {
    @include set-theme($light-value-map);
}
.dark {
    @include set-theme($dark-value-map);
}
// .green {
//     @include set-theme($green-value-map);
// }



// > misc from https://github.com/8Tesla8/angular-theme-scss/blob/main/src/assets/useful-function.scss

// color function
@function tint($color, $percentage) {
    //lighter
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    //darker
    @return mix(black, $color, $percentage);
}

$darkColor: shade(#606060, 50%);
$lightColor: tint(#3d5721, 70%);

.test-class{
    background-color: $darkColor;
    color: $lightColor;
}


// change color of icons

$icon-filter: invert(16%) sepia(14%) saturate(7188%) hue-rotate(180deg) brightness(93%) contrast(96%);

img {
    // set image filter to get vendor-main color
    // https://codepen.io/sosuke/pen/Pjoqqp

    // filter: $icon-filter;
}

//////// < misc end
